# Dependencias instaladas por npm
/node_modules

# Archivos y directorios generados por el entorno de desarrollo
/.env
/.env.*
.DS_Store

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log

# Carpeta de archivos compilados o generados
/dist
/build

# Dependencias específicas del sistema operativo
*.swp
Thumbs.db

# Otros archivos y directorios específicos de tu proyecto
/public/uploads
